<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Participants</title>
</head>
<body>
<nav th:replace="layouts :: navbar"></nav>

<br><br>
<h1>Roles</h1>
<br>
	<a th:href="@{roles/add}" class="btn btn-primary btn-sm mb-3">Add Role</a>
<br>


<div class="container">
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Role ID</th>
					<th>Role Title</th>
					<th>Edit-Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="role : ${roles}">
					<td th:text="${role.roleId}"></td>
					<td th:text="${role.roleTitle}"></td>
					<td><a href="#">Edit</a>-<a href="#">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>