<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header">
	<title>New Project</title>
</head>
<body>
	<nav th:replace="layouts :: navbar"></nav> <!-- this will replace navbar defined in layouts.html with the help of thymeleaf -->
	<h3>Projects List</h3>
	
	<br>
	<a th:href="@{/projects/new}" class="btn btn-primary btn-sm mb-3">Add Project</a>
	<br>
	<div class="container">
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
				<th>Project Name</th>
				<th>Project Status</th>
				<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="aProject : ${projects}">
					<td th:text="${aProject.name}"></td>
					<td th:text="${aProject.status}"></td>
					<td th:text="${aProject.description}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>